In [14]:
#Import dependencies
import pandas as pd
import numpy as np

In [15]:
# Load dataset
df = pd.read_csv('raw.csv')

In [16]:
# Display the first few rows
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [17]:
# Basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [18]:
# Summary statistics
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,42502.000000,50000.000000,50000.000000,50000.000000,50000.000000,48965.000000,50000.000000,50000.000000
mean,4182.004291,16.838260,22.921480,68.772640,21.052640,30.080200,32.279581,1491.304305
std,3174.109304,116.396848,129.314804,451.602363,14.860397,196.984121,5.106238,8595.647887
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.509652,0.000000
25%,1625.188333,3.000000,4.000000,8.000000,10.000000,4.000000,28.061040,32.222388
50%,3086.305000,6.000000,5.000000,13.000000,18.000000,7.000000,32.280390,74.733349
75%,5934.189094,7.000000,7.000000,20.000000,28.000000,10.000000,36.468591,176.157491
max,15204.633333,1798.000000,1499.000000,5799.000000,67.000000,2593.000000,48.540663,82398.000000

In [19]:
#Dropping unecessary columns
columns_to_drop = ['Month', 'Name', 'Credit_Mix','Amount_invested_monthly']
df = df.drop(columns_to_drop , axis=1 )

In [20]:
#Display dataframe to explore dataset
df

,ID,Customer_ID,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,...,Num_of_Delayed_Payment,Changed_Credit_Limit,Num_Credit_Inquiries,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,23,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,...,7,11.27,2022.0,809.98,35.030402,22 Years and 9 Months,No,49.574949,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,24,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,...,9,13.27,4.0,809.98,33.053114,22 Years and 10 Months,No,49.574949,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,24,821-00-0265,Scientist,19114.12,1824.843333,3,4,3,...,4,12.27,4.0,809.98,33.811894,NaN,No,49.574949,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,24_,821-00-0265,Scientist,19114.12,NaN,3,4,3,...,5,11.27,4.0,809.98,32.430559,23 Years and 0 Months,No,49.574949,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,28,004-07-5839,_______,34847.84,3037.986667,2,4,6,...,1,5.42,5.0,605.03,25.926822,27 Years and 3 Months,No,18.816215,High_spent_Large_value_payments,485.2984336755923
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,0x25fe5,CUS_0x8600,4975,031-35-0942,Architect,20002.88,1929.906667,10,8,29,...,25,18.31,12.0,3571.7,34.780553,NaN,Yes,60.964772,Low_spent_Small_value_payments,275.53956951573343
49996,0x25fee,CUS_0x942c,25,078-73-5990,Mechanic,39628.99,NaN,4,6,7,...,NaN,11.5,7.0,502.38,27.758522,31 Years and 11 Months,NM,35.104023,Low_spent_Small_value_payments,409.39456169535066
49997,0x25fef,CUS_0x942c,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,7,...,5,13.5,7.0,502.38,36.858542,32 Years and 0 Months,No,35.104023,Low_spent_Large_value_payments,349.7263321025098
49998,0x25ff0,CUS_0x942c,25,078-73-5990,Mechanic,39628.99,NaN,4,6,7,...,6_,11.5,7.0,502.38,39.139840,32 Years and 1 Months,No,35.104023,High_spent_Small_value_payments,463.23898098947717
49999,0x25ff1,CUS_0x942c,25,078-73-5990,Mechanic,39628.99,3359.415833,4,6,7,...,5,11.5,7.0,502.38,34.108530,32 Years and 2 Months,No,35.104023,Low_spent_Medium_value_payments,360.37968260123847

In [21]:
# Check for missing values
df.isnull().sum()

ID                             0
Customer_ID                    0
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       7498
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [22]:
# Drop rows with missing values
df = df.dropna()

In [23]:
#Checking the datatypes
df.dtypes

ID                           object
Customer_ID                  object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Payment_Behaviour            object
Monthly_Balance              object
dtype: object

In [24]:
#  check for outliers in column Age

df['Age'] = pd.to_numeric(df['Age'], errors='coerce').fillna(0).astype(int)

Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)

# Calculate the IQR
IQR = Q3 - Q1

# Define the bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers_iqr = df[(df['Age'] < lower_bound) | (df['Age'] > upper_bound)]
print("Outliers based on IQR method:")
print(outliers_iqr)

Outliers based on IQR method:
            ID Customer_ID   Age          SSN  Occupation Annual_Income  \
131     0x178d  CUS_0x95b5  -500  602-55-1355    Engineer     12986.745
172     0x180e   CUS_0xc65   339  473-91-5845     _______     148699.32
233     0x18c3  CUS_0x47db  1203  507-34-4117    Musician      78988.48
236     0x18ce  CUS_0x8f17  -500  794-17-4490  Journalist      41746.76
239     0x18d1  CUS_0x8f17  2823    #F%$D@*&8  Journalist      41746.76
...        ...         ...   ...          ...         ...           ...
49845  0x25e27  CUS_0x1132  5586  152-95-7926    Mechanic       46268.4
49873  0x25e7b  CUS_0x9ce3   326  914-39-8208      Doctor      14734.29
49878  0x25e88  CUS_0x4a8f  7168  021-30-1201    Engineer      34493.92
49881  0x25e93  CUS_0x1b07  5227  739-15-8297  Accountant       17818.6
49935  0x25f31  CUS_0x1d18  7910  061-64-3430    Musician      33702.74

       Monthly_Inhand_Salary  Num_Bank_Accounts  Num_Credit_Card  \
131               959.228750                  4                3
172             12432.610000                  3                4
233              6449.373333                  9                5
236              3651.896667                  8                5
239              3651.896667                  8                5
...                      ...                ...              ...
49845            3983.700000                  5                4
49873            1393.857500                  7                6
49878            3043.493333                  9               10
49881            1659.883333                  4                6
49935            2998.561667                  7                3

       Interest_Rate  ... Num_of_Delayed_Payment Changed_Credit_Limit  \
131               10  ...                     14                 11.8
172                5  ...                      6                  9.2
233               29  ...                     18                15.27
236               31  ...                     21                 9.81
239               31  ...                     21                 9.81
...              ...  ...                    ...                  ...
49845             20  ...                     17                 4.58
49873             22  ...                     19                21.76
49878             24  ...                     20                32.16
49881             14  ...                     15                10.91
49935             19  ...                      8                 10.7

       Num_Credit_Inquiries Outstanding_Debt Credit_Utilization_Ratio  \
131                     7.0          1489.49                27.345098
172                     1.0           949.38                31.242582
233                    10.0           1746.9                36.067523
236                    11.0          1936.79                39.703192
239                    11.0          1936.79                29.649922
...                     ...              ...                      ...
49845                   9.0          1447.57                35.195704
49873                  12.0          4317.42                26.407701
49878                  13.0          4138.67                36.958960
49881                   3.0           301.52                25.253231
49935                   5.0           636.96                33.949844

           Credit_History_Age Payment_of_Min_Amount  Total_EMI_per_month  \
131      9 Years and 7 Months                   Yes            16.719300
172     31 Years and 3 Months                    No           364.915177
233    10 Years and 10 Months                   Yes           291.782760
236     19 Years and 9 Months                   Yes           102.283398
239     20 Years and 0 Months                    NM           102.283398
...                       ...                   ...                  ...
49845   14 Years and 2 Months                   Yes         70497.000000
49873   12 Years and 2 Months                   Yes            50.459996
49878    6 Years and 1 Months                   Yes           110.383098
49881   19 Years and 0 Months                    No            11.581102
49935  24 Years and 10 Months                   Yes            37.993229

                      Payment_Behaviour     Monthly_Balance
131     Low_spent_Medium_value_payments  283.01365607681294
172      Low_spent_Large_value_payments  149.71148710541732
233                              !@9#%8   457.4435753509314
236    High_spent_Medium_value_payments   374.5851577794634
239     High_spent_Small_value_payments   442.4321511485661
...                                 ...                 ...
49845  High_spent_Medium_value_payments   459.1169361423857
49873   High_spent_Small_value_payments   258.9344613693992
49878  High_spent_Medium_value_payments   410.6116425807714
49881   Low_spent_Medium_value_payments   352.3378141627491
49935    Low_spent_Small_value_payments   311.3191598821827

[893 rows x 23 columns]

/var/folders/qf/cw90bmqj02jdvy10h8g1kvb00000gn/T/ipykernel_5782/3012413872.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = pd.to_numeric(df['Age'], errors='coerce').fillna(0).astype(int)

In [25]:
# Drop outliers
df = df[(df['Age'] >= lower_bound) & (df['Age'] <= upper_bound)]

# Drop rows where 'Occupation' is  missing
df = df[df['Occupation'] != '_______']

# Drop rows where 'Credit_History_Age' is 'NA'
df = df[df['Credit_History_Age'] != 'NA']

# Drop rows where 'Payment_Behaviour' is invalid
df["Payment_Behaviour"]=df["Payment_Behaviour"].replace("!@9#%8",np.NaN)

In [26]:
# # Convert data types

# Convert the column to string type
df['Annual_Income'] = df['Annual_Income'].astype(str)

# Remove underscore from the values in the column
df['Annual_Income'] = df['Annual_Income'].str.replace('_', '')
df['Num_of_Loan'] = df['Num_of_Loan'].replace('_', '')
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].replace('_', np.nan)
df['Outstanding_Debt'] = df['Outstanding_Debt'].replace('_', '')

# Convert the cleaned column to the desired data type (e.g., int, float)
df['Age'] = df['Age'].astype(int)
df['Annual_Income'] = df['Annual_Income'].astype(float)
df['Num_of_Loan'] = df['Num_of_Loan'].astype(int)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(float)
df['Outstanding_Debt'] = df['Outstanding_Debt'].astype(float)
df['Monthly_Inhand_Salary'] = df['Monthly_Inhand_Salary'].astype(float)
df['Credit_History_Age'] = df['Credit_History_Age'].astype(int)

ValueError: invalid literal for int() with base 10: '5_'

In [ ]:
#Converting Credit_History_Age into integer value in months

def convert_to_months(value):
    if pd.isnull(value):
        return np.nan

    if isinstance(value, str):
        parts = value.split()
        years = int(parts[0])
        months = int(parts[3])
    
        total_months = years * 12 + months
        return total_months
    else:
        return np.nan  # Return NaN f

:

In [ ]:
#Show final cleaned df
df.head()

:

: