In [1]:
import pandas as pd

In [9]:
# load dataset
df = pd.read_csv('raw.csv')

In [10]:
# Display the first few rows
df.head()

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
2,0x160c,CUS_0xd40,November,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.811894,NaN,No,49.574949,148.23393788500925,Low_spent_Medium_value_payments,264.67544623342997
3,0x160d,CUS_0xd40,December,Aaron Maashoh,24_,821-00-0265,Scientist,19114.12,NaN,3,...,4.0,Good,809.98,32.430559,23 Years and 0 Months,No,49.574949,39.08251089460281,High_spent_Medium_value_payments,343.82687322383634
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923

In [11]:
# Basic information about the dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        50000 non-null  object
 1   Customer_ID               50000 non-null  object
 2   Month                     50000 non-null  object
 3   Name                      44985 non-null  object
 4   Age                       50000 non-null  object
 5   SSN                       50000 non-null  object
 6   Occupation                50000 non-null  object
 7   Annual_Income             50000 non-null  object
 8   Monthly_Inhand_Salary     42502 non-null  float64
 9   Num_Bank_Accounts         50000 non-null  int64
 10  Num_Credit_Card           50000 non-null  int64
 11  Interest_Rate             50000 non-null  int64
 12  Num_of_Loan               50000 non-null  object
 13  Type_of_Loan              44296 non-null  object
 14  Delay_from_due_date       50000 non-null  int64
 15  Num_of_Delayed_Payment    46502 non-null  object
 16  Changed_Credit_Limit      50000 non-null  object
 17  Num_Credit_Inquiries      48965 non-null  float64
 18  Credit_Mix                50000 non-null  object
 19  Outstanding_Debt          50000 non-null  object
 20  Credit_Utilization_Ratio  50000 non-null  float64
 21  Credit_History_Age        45530 non-null  object
 22  Payment_of_Min_Amount     50000 non-null  object
 23  Total_EMI_per_month       50000 non-null  float64
 24  Amount_invested_monthly   47729 non-null  object
 25  Payment_Behaviour         50000 non-null  object
 26  Monthly_Balance           49438 non-null  object
dtypes: float64(4), int64(4), object(19)
memory usage: 10.3+ MB

In [12]:
# Summary statistics
df.describe()

,Monthly_Inhand_Salary,Num_Bank_Accounts,Num_Credit_Card,Interest_Rate,Delay_from_due_date,Num_Credit_Inquiries,Credit_Utilization_Ratio,Total_EMI_per_month
count,42502.000000,50000.000000,50000.000000,50000.000000,50000.000000,48965.000000,50000.000000,50000.000000
mean,4182.004291,16.838260,22.921480,68.772640,21.052640,30.080200,32.279581,1491.304305
std,3174.109304,116.396848,129.314804,451.602363,14.860397,196.984121,5.106238,8595.647887
min,303.645417,-1.000000,0.000000,1.000000,-5.000000,0.000000,20.509652,0.000000
25%,1625.188333,3.000000,4.000000,8.000000,10.000000,4.000000,28.061040,32.222388
50%,3086.305000,6.000000,5.000000,13.000000,18.000000,7.000000,32.280390,74.733349
75%,5934.189094,7.000000,7.000000,20.000000,28.000000,10.000000,36.468591,176.157491
max,15204.633333,1798.000000,1499.000000,5799.000000,67.000000,2593.000000,48.540663,82398.000000

In [28]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
7,0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.53448761392985,!@9#%8,421.44796447960783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49992,0x25fe2,CUS_0x8600,September,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,9.0,Bad,3571.7,32.391288,6 Years and 4 Months,Yes,60.964772,107.21074164760236,Low_spent_Small_value_payments,314.8151526456419
49993,0x25fe3,CUS_0x8600,October,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,12.0,Bad,3571.7,37.528511,6 Years and 5 Months,Yes,60.964772,71.79442082882734,Low_spent_Small_value_payments,350.23147346441687
49994,0x25fe4,CUS_0x8600,November,Sarah McBridec,29,031-35-0942,_______,20002.88,1929.906667,10,...,12.0,Bad,3571.7,27.027812,6 Years and 6 Months,Yes,60.964772,50.84684680498023,High_spent_Small_value_payments,341.179047488264
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.7263321025098
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,_,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847

In [13]:
# Check for missing values
df.isnull().sum()

ID                             0
Customer_ID                    0
Month                          0
Name                        5015
Age                            0
SSN                            0
Occupation                     0
Annual_Income                  0
Monthly_Inhand_Salary       7498
Num_Bank_Accounts              0
Num_Credit_Card                0
Interest_Rate                  0
Num_of_Loan                    0
Type_of_Loan                5704
Delay_from_due_date            0
Num_of_Delayed_Payment      3498
Changed_Credit_Limit           0
Num_Credit_Inquiries        1035
Credit_Mix                     0
Outstanding_Debt               0
Credit_Utilization_Ratio       0
Credit_History_Age          4470
Payment_of_Min_Amount          0
Total_EMI_per_month            0
Amount_invested_monthly     2271
Payment_Behaviour              0
Monthly_Balance              562
dtype: int64

In [14]:
# Drop rows with missing values
df = df.dropna()

In [22]:
df.dtypes

ID                           object
Customer_ID                  object
Month                        object
Name                         object
Age                          object
SSN                          object
Occupation                   object
Annual_Income                object
Monthly_Inhand_Salary       float64
Num_Bank_Accounts             int64
Num_Credit_Card               int64
Interest_Rate                 int64
Num_of_Loan                  object
Type_of_Loan                 object
Delay_from_due_date           int64
Num_of_Delayed_Payment       object
Changed_Credit_Limit         object
Num_Credit_Inquiries        float64
Credit_Mix                   object
Outstanding_Debt             object
Credit_Utilization_Ratio    float64
Credit_History_Age           object
Payment_of_Min_Amount        object
Total_EMI_per_month         float64
Amount_invested_monthly      object
Payment_Behaviour            object
Monthly_Balance              object
dtype: object

In [29]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
7,0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.53448761392985,!@9#%8,421.44796447960783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49992,0x25fe2,CUS_0x8600,September,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,9.0,Bad,3571.7,32.391288,6 Years and 4 Months,Yes,60.964772,107.21074164760236,Low_spent_Small_value_payments,314.8151526456419
49993,0x25fe3,CUS_0x8600,October,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,12.0,Bad,3571.7,37.528511,6 Years and 5 Months,Yes,60.964772,71.79442082882734,Low_spent_Small_value_payments,350.23147346441687
49994,0x25fe4,CUS_0x8600,November,Sarah McBridec,29,031-35-0942,_______,20002.88,1929.906667,10,...,12.0,Bad,3571.7,27.027812,6 Years and 6 Months,Yes,60.964772,50.84684680498023,High_spent_Small_value_payments,341.179047488264
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.7263321025098
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,_,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847

In [30]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce').fillna(0).astype(int)

In [25]:
# # Assuming df is your existing DataFrame and 'column_name' is the column you want to check for outliers
# Q1 = df['Age'].quantile(0.25)
# Q3 = df['Age'].quantile(0.75)

# # Calculate the IQR
# IQR = Q3 - Q1

# # Define the bounds for outliers
# lower_bound = Q1 - 1.5 * IQR
# upper_bound = Q3 + 1.5 * IQR

# # Identify outliers
# outliers_iqr = df[(df['Age'] < 18) | (df['Age'] > 70)]
# print("Outliers based on IQR method:")
# print(outliers_iqr)

# Assuming df is your existing DataFrame and 'Age' is the column you want to check for outliers
Q1 = df['Age'].quantile(0.25)
Q3 = df['Age'].quantile(0.75)

# Calculate the IQR
IQR = Q3 - Q1

# Define the bounds for outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify outliers
outliers_iqr = df[(df['Age'] < lower_bound) | (df['Age'] > upper_bound)]
print("Outliers based on IQR method:")
print(outliers_iqr)

Outliers based on IQR method:
            ID Customer_ID      Month                  Name   Age  \
131     0x178d  CUS_0x95b5   December       Lisa Baertleinu  -500
172     0x180e   CUS_0xc65  September              Pomeroyi   339
233     0x18c3  CUS_0x47db    October                Granto  1203
236     0x18ce  CUS_0x8f17  September                Ermans  -500
303     0x1991  CUS_0x36ab   December  Svea Herbst-Baylisss  1643
...        ...         ...        ...                   ...   ...
49845  0x25e27  CUS_0x1132    October             Jonathano  5586
49873  0x25e7b  CUS_0x9ce3    October            Tim Kellya   326
49878  0x25e88  CUS_0x4a8f   November        Doris Frankelm  7168
49881  0x25e93  CUS_0x1b07    October              Baldwinq  5227
49935  0x25f31  CUS_0x1d18   December          Dominic Lauv  7910

               SSN  Occupation Annual_Income  Monthly_Inhand_Salary  \
131    602-55-1355    Engineer     12986.745             959.228750
172    473-91-5845     _______     148699.32           12432.610000
233    507-34-4117    Musician      78988.48            6449.373333
236    794-17-4490  Journalist      41746.76            3651.896667
303    925-44-1671     Teacher      43241.49            3282.269196
...            ...         ...           ...                    ...
49845  152-95-7926    Mechanic       46268.4            3983.700000
49873  914-39-8208      Doctor      14734.29            1393.857500
49878  021-30-1201    Engineer      34493.92            3043.493333
49881  739-15-8297  Accountant       17818.6            1659.883333
49935  061-64-3430    Musician      33702.74            2998.561667

       Num_Bank_Accounts  ...  Num_Credit_Inquiries  Credit_Mix  \
131                    4  ...                   7.0    Standard
172                    3  ...                   1.0        Good
233                    9  ...                  10.0         Bad
236                    8  ...                  11.0         Bad
303                   10  ...                  15.0         Bad
...                  ...  ...                   ...         ...
49845                  5  ...                   9.0    Standard
49873                  7  ...                  12.0         Bad
49878                  9  ...                  13.0         Bad
49881                  4  ...                   3.0    Standard
49935                  7  ...                   5.0    Standard

      Outstanding_Debt Credit_Utilization_Ratio      Credit_History_Age  \
131            1489.49                27.345098    9 Years and 7 Months
172             949.38                31.242582   31 Years and 3 Months
233             1746.9                36.067523  10 Years and 10 Months
236            1936.79                39.703192   19 Years and 9 Months
303            2174.16                37.668435   13 Years and 1 Months
...                ...                      ...                     ...
49845          1447.57                35.195704   14 Years and 2 Months
49873          4317.42                26.407701   12 Years and 2 Months
49878          4138.67                36.958960    6 Years and 1 Months
49881           301.52                25.253231   19 Years and 0 Months
49935           636.96                33.949844  24 Years and 10 Months

      Payment_of_Min_Amount Total_EMI_per_month  Amount_invested_monthly  \
131                     Yes           16.719300        76.18991869541101
172                      No          364.915177        998.6343354897116
233                     Yes          291.782760         135.710997640249
236                     Yes          102.283398                __10000__
303                      NM          460.427267       38.567458704402725
...                     ...                 ...                      ...
49845                   Yes        70497.000000        85.47501376746735
49873                   Yes           50.459996        89.99129244108008
49878                   Yes          110.383098          33.354592736425
49881                    No           11.581102        82.06941750402302
49935                   Yes           37.993229        240.5437775411137

                      Payment_Behaviour     Monthly_Balance
131     Low_spent_Medium_value_payments  283.01365607681294
172      Low_spent_Large_value_payments  149.71148710541732
233                              !@9#%8   457.4435753509314
236    High_spent_Medium_value_payments   374.5851577794634
303    High_spent_Medium_value_payments   407.2393282254772
...                                 ...                 ...
49845  High_spent_Medium_value_payments   459.1169361423857
49873   High_spent_Small_value_payments   258.9344613693992
49878  High_spent_Medium_value_payments   410.6116425807714
49881   Low_spent_Medium_value_payments   352.3378141627491
49935    Low_spent_Small_value_payments   311.3191598821827

[775 rows x 27 columns]

In [35]:
# Drop outliers
df = df[(df['Age'] >= lower_bound) & (df['Age'] <= upper_bound)]

In [36]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
4,0x1616,CUS_0x21b1,September,Rick Rothackerj,28,004-07-5839,_______,34847.84,3037.986667,2,...,5.0,Good,605.03,25.926822,27 Years and 3 Months,No,18.816215,39.684018417945296,High_spent_Large_value_payments,485.2984336755923
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
7,0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.53448761392985,!@9#%8,421.44796447960783
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49992,0x25fe2,CUS_0x8600,September,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,9.0,Bad,3571.7,32.391288,6 Years and 4 Months,Yes,60.964772,107.21074164760236,Low_spent_Small_value_payments,314.8151526456419
49993,0x25fe3,CUS_0x8600,October,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,12.0,Bad,3571.7,37.528511,6 Years and 5 Months,Yes,60.964772,71.79442082882734,Low_spent_Small_value_payments,350.23147346441687
49994,0x25fe4,CUS_0x8600,November,Sarah McBridec,29,031-35-0942,_______,20002.88,1929.906667,10,...,12.0,Bad,3571.7,27.027812,6 Years and 6 Months,Yes,60.964772,50.84684680498023,High_spent_Small_value_payments,341.179047488264
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.7263321025098
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,_,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847

In [37]:
# Drop rows where 'Occupation' is a dash
df = df[df['Occupation'] != '_______']

In [38]:
df

,ID,Customer_ID,Month,Name,Age,SSN,Occupation,Annual_Income,Monthly_Inhand_Salary,Num_Bank_Accounts,...,Num_Credit_Inquiries,Credit_Mix,Outstanding_Debt,Credit_Utilization_Ratio,Credit_History_Age,Payment_of_Min_Amount,Total_EMI_per_month,Amount_invested_monthly,Payment_Behaviour,Monthly_Balance
0,0x160a,CUS_0xd40,September,Aaron Maashoh,23,821-00-0265,Scientist,19114.12,1824.843333,3,...,2022.0,Good,809.98,35.030402,22 Years and 9 Months,No,49.574949,236.64268203272135,Low_spent_Small_value_payments,186.26670208571772
1,0x160b,CUS_0xd40,October,Aaron Maashoh,24,821-00-0265,Scientist,19114.12,1824.843333,3,...,4.0,Good,809.98,33.053114,22 Years and 10 Months,No,49.574949,21.465380264657146,High_spent_Medium_value_payments,361.44400385378196
5,0x1617,CUS_0x21b1,October,Rick Rothackerj,28,#F%$D@*&8,Teacher,34847.84,3037.986667,2,...,5.0,Good,605.03,30.116600,27 Years and 4 Months,No,18.816215,251.62736875017606,Low_spent_Large_value_payments,303.3550833433617
7,0x1619,CUS_0x21b1,December,Rick Rothackerj,28,004-07-5839,Teacher,34847.84,3037.986667,2,...,5.0,_,605.03,33.875167,27 Years and 6 Months,No,18.816215,153.53448761392985,!@9#%8,421.44796447960783
9,0x1623,CUS_0x2dbc,October,Langep,35,486-85-3974,Engineer,143162.64,12187.220000,1,...,3.0,Good,1303.01,35.685836,18 Years and 6 Months,No,246.992319,453.6151305781054,Low_spent_Large_value_payments,788.1145499681528
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49991,0x25fd9,CUS_0xaf61,December,Chris Wickhamm,0,133-16-7738,Writer,37188.1,3097.008333,1,...,3.0,_,620.64,36.498383,30 Years and 8 Months,No,33013.000000,238.3993828976901,Low_spent_Large_value_payments,257.095501010799
49992,0x25fe2,CUS_0x8600,September,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,9.0,Bad,3571.7,32.391288,6 Years and 4 Months,Yes,60.964772,107.21074164760236,Low_spent_Small_value_payments,314.8151526456419
49993,0x25fe3,CUS_0x8600,October,Sarah McBridec,29,031-35-0942,Architect,20002.88,1929.906667,10,...,12.0,Bad,3571.7,37.528511,6 Years and 5 Months,Yes,60.964772,71.79442082882734,Low_spent_Small_value_payments,350.23147346441687
49997,0x25fef,CUS_0x942c,October,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,Good,502.38,36.858542,32 Years and 0 Months,No,35.104023,__10000__,Low_spent_Large_value_payments,349.7263321025098
49999,0x25ff1,CUS_0x942c,December,Nicks,25,078-73-5990,Mechanic,39628.99,3359.415833,4,...,7.0,_,502.38,34.108530,32 Years and 2 Months,No,35.104023,220.45787812168732,Low_spent_Medium_value_payments,360.37968260123847

In [40]:
# Convert data types
df['Age'] = df['Age'].astype(int)
df['Annual_income'] = df['Annual_income'].astype(int)
df['Monthly_inhand_Salary'] = df['Monthly_inhand_Salary'].astype(float)
df['Num_ofLoan'] = df['Num_ofLoan'].astype(int)
df['Changed_Credit_Limit'] = df['Changed_Credit_Limit'].astype(int)
df['Outstanding_Debt'] = df['Outstanding_Debt'].astype(float)
df['Credit_History_Age'] = df['Credit_History_Age'].astype(float)
df['Total_EMI_per_month'] = df['Total_EMI_per_month'].astype(float)
df['Amount_invested_monthly'] = df['Amount_invested_monthly'].astype(float)
df['Monthly_Balance'] = df['Monthly_Balance'].astype(float)

/var/folders/zf/0vbcb4t96mg7ygrsh_n7b7f40000gn/T/ipykernel_4604/1722356189.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age'] = df['Age'].astype(int)

KeyError: 'Annual_income'